<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    
    <body>
        <h2>survey page</h2>
        <div ng-app="myapp" ng-controller="mycontroller">
            <table border="1">
                <tr>
                    <th>LANGUAGES</th>
                    <th>LIKES</th>
                    <th>DISLIKES</th>
                    <th>NAME</th>
                    <th colspan="2">LIKE/DISLIKES</th>
                    <th></th>
                </tr>
                
                <tr ng-repeat="technology in technologies"> 
                    <td>{{technology.name}}</td>
                    <td>{{technology.likes}}</td>
                    <td>{{technology.dislikes}}</td>
                    <td>{{technology.name}}</td>
                    <td><input type="button" value="likes" ng-click="addlikes(technology)"></td>
                    <td><input type="button" value="dislikes" ng-click="adddislikes(technology)"></td>
                </tr>
            </table>
        </div>
        <script src="a2.js"></script>
    </body>
</html>