<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body>
        <h2>Shopping cart</h2>
        <div ng-app="myapp" ng-controller="myctrl">
        <table>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Total</th>
                <th></th>
            </tr>

            <tr ng-repeat="item in cart">
                <td><input type="text" ng-model="item.description"></td>
                <td><input type="number" ng-model="item.qty " ng:required></td>
                <td><input type="number" ng-model="item.cost" ng:required></td>
                <td>{{item.qty * item.cost | currency: 'Rs '}}</td>
                <td>[<a href ng-click="remove($index)">X</a>]</td>
            </tr>

            <tr>
                <td><a href ng-click="add()">ADD ITEM</a></td>
                <td>Total:</td>
                <td></td>
                <td>{{total()| currency: 'Rs '}}</td>
            </tr>
        </table>
        </div>
        <script src="ang3.js"></script>
    </body>
</html>
