*{
    padding: 0px;
    margin: 0px;
}

#header-title{
    height: 50px;
    width:100%;
    font-size: 40px;
    background-color: dimgrey;
    color: white;

}

#nav-list{
    height: 40px;
    width: 100%;
/*    display: flex;*/
    padding: 20px;
    background: grey;
}


.nav-item{
    float: left;
    margin: 0px 10px;
    list-style-type: none;
    height:40px;
    width: 200px;
    background-color: dimgrey;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.nav-item:hover{
    background-color: lightcyan;
    color: black;
}

.nav-hidden-list{
    display: none;
}
header{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.nav-item:hover .nav-hidden-list{

    display: block;
    list-style-type: none;
    z-index: 1;
    height: 40px;
    width: 200px;
    margin: 1px 0px;
    position: relative;
    top: 20px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-align: center;
    animation-name: nav-animation;
    animation-duration: 1s;
}

@keyframes nav-animation{
    0%{opacity: .0;}
    25%{opacity: .25;}
    50%{opacity: .5;}
    75%{opacity: .75;}
    100%{opacity: 1;}
}

.nav-item .nav-hidden-list:hover{
     background-color: lightcyan;
     color: black;
}

#background{
    background-image: url(slide1.jpeg);
    height: 100%;
    width: 100%;
    animation: sliding 6s infinite;

}

@keyframes sliding{
    0%{ background-image: url(slide1.jpeg);}
    33%{ background-image: url(slide2.jpg);}
    66%{ background-image: url(slide3.jpg);}
    100%{ background-image: url(slide1.jpeg);}
}
#buttons{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border: 3px solid green;
    border-radius: 5px;
    margin-top: 100px;

}

#buttons button{
    height: 40px;
    width: 35%;
    margin: 10px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: green;
    margin-left: 10%;
    margin-bottom: 20px;

}

#res-form{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border: 3px solid green;
    border-radius: 5px;

}

#res-form h3{
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 20px;
}



#res-form input{

    height: 40px;
    width: 80%;
    margin: 10px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 10%;


}



#res-form textarea{
    height: 100px;
    width: 80%;
    margin: 10px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 10%;
}

#res-form .form-button{
    height: 40px;
    width: 35%;
    margin: 10px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: green;
    margin-left: 10%;
    margin-bottom: 20px;

}

#res-form #select-opt{

    height: 40px;
    width: 80%;
    margin: 10px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 10%;


}

#signup{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border: 3px solid green;
    border-radius: 5px;

    margin-bottom: 100px;
}

#signup h3{
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 20px;
}



#signup input{

    height: 40px;
    width: 80%;
    margin: 10px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 10%;


}

#signup .form-button{
    height: 40px;
    width: 35%;
    margin: 10px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: green;
    margin-left: 10%;
    margin-bottom: 20px;

}

footer{
    height: 100px;
    width: 100%;
    color: white;
    float: right;
    background-color: black;
    font-size: 50px;

}

#outer{
    height: 400px;
    width: 80%;
    border: 1px solid green;
    margin: 50px 0px 50px 10%;
    position: relative;
}

#inner{
    height: 100px;
    width: 50%;
    border: 1px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#animate-outer{
    height: 400px;
    width: 400px;
    border: 3px solid green;
    margin-left: 400px;

}

#animate-outer #animate{
    height: 100px;
    width: 100px;
    position: relative;
    background-color: red;
    animation: example1 4s infinite;
}

@keyframes example1{
    0%{background-color: red; top: 0%; left: 0%;}
    25%{background-color: green; top: 0%; left: 75%;}
    75%{background-color: yellow; top: 75%; left: 75%;}
    50%{background-color: blue; top: 75%; left: 0%;}
    100%{background-color: red; top: 0%; left: 0%;}
}
